$base: 4px;

$base-2: $base * 2;
$base-3: $base * 3;
$base-4: $base * 4;
$base-5: $base * 5;
$base-6: $base * 6;
$base-7: $base * 7;
$base-8: $base * 8;
$base-9: $base * 9;
$base-10: $base * 10;


$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

$border-base-width: $base /4;

$color-blue: #f5F9FF;
$color-blue-50: #f9fcff;
$color-blue-100: #E8F1FB;
$color-blue-200: #d1E3F8;
$color-blue-300: #8cc3f0;
$color-blue-400: #73b4e6;
$color-blue-500: #4991E5;
$color-blue-600: #4b91cd;
$color-blue-700: #6B85A3;
$color-blue-800: #286eaa;
$color-blue-900: #1e5f96;
